/* QUESTION 4: CSS External StyleSheet with RESET */
html, body, div, span, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}